body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.jumbotron{
  background: lightseagreen;
  border-radius: 0px!important;
}

.searchForm{
  height: 80px;
  font-size: 50px;
}

.searchBtn{
    height: 80px;
    width: 200px;
    font-size: 35px;
}
.btn {
  margin-left: 5px;
}